# Modelo entrenado (se gestiona como artefacto en MLflow)
*.pt
*.h5
*.onnx
*.pkl

# Entorno virtual
.venv/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db
mlartifacts/

# pytest
.pytest_cache/
htmlcov/
.coverage

# Docker
*.log